<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ProyectoConexion"
        connectionString="Server=DESKTOP-HHNK733\CARLOSSQL;Database=AEROLINEAGRUPO4; User= sa; Pwd=12345; MultipleActiveResultSets=true;" providerName ="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>